.breadcrumb_part {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B08EAD;
  }

.imgs{
  width: 500px;
  height: 300px;
  /* background-color: red; */
}
.table td img {
  width: 300px;
  height: 110px;
  border-radius: 100%;
}